@media screen and (max-width:600px){
    #cbox{
        position:absolute;
        top:86%;
        left:35%;
    }
    #box{
        position: absolute;
        top:100%;
        left:10%;
    }
    /* footer */

    #footer
    {
    position: absolute;
    top:200%;

    width:73%;

    }  
    #links{
        /* position: relative;
        left:70px; */

        text-align: center;
    }
    #link_h2{
        
        text-align: center;
    }
   
    #contact{
        position: relative;
        top:20px;
        left:10px;

        
    }

    .anchortag{
        font-weight:100;
        word-spacing:5px;
    }
    #up{
        position: relative;
        top:10px;
        left:280px;

        width:20px;


    }

    #copy{
        position:relative;
        top:60px;
        left:-50px;
        width:140%;
        height: 60px;

        font-size:15px;


    }

    #rights{
        text-align:center;
        font-size:12px;
    }


}