@media screen and (max-width:600px){

    #fm{
        position: absolute;
        top:520px;
        left:10px;

        /* width:50%; */
        font-size:20px;
        border-radius: 0px  35px 0px 35px;
        
    }

    #box1{
        position: absolute;
        top:95%;
        left:15px;
        width:90%;
    }
    #box2{
        position: absolute;
        top:170%;
        left:15px;
        width:90%;
    }
    #box3{
        position: absolute;
        top:245%;
        left:15px;
        width:90%;
    }
    #box4{
        position: absolute;
        top:320%;
        left:15px;
        width:90%;
    }
    #box5{
        position: absolute;
        top:400%;
        left:15px;
        width:90%;
    }
    #box6{
        position: absolute;
        top:480%;
        left:15px;
        width:90%;
    }
    #box7{
        position: absolute;
        top:560%;
        left:15px;
        width:90%;
    }
    #box8{
        position: absolute;
        top:640%;
        left:15px;
        width:90%;
    }
    #footer{
        position:absolute;
        top:760%;
        left:0;
        width:75%;
    
    }
    #links,#link_h2{
        /* position: relative;
        left:70px; */

        text-align: center;
    }

   
    #contact{
        position: relative;
        top:20px;
        left:10px;

        
    }

    .anchortag{
        font-weight:100;
        word-spacing:5px;
    }
    #up{
        position: relative;
        top:10px;
        left:280px;

        width:20px;


    }

    #copy{
        position:relative;
        top:60px;
        left:-50px;
        width:140%;
        height: 60px;

        font-size:15px;


    }

    #rights{
        text-align:center;
        font-size:12px;
    }


}