

@media screen and (max-width:600px)
{
    /* body{

        overflow-x:hidden;
        
    } */
    #h1{
        height: 300px;
        width:100%;

        /* order:revert; */
        display: block;

          
        
    }

  

    #menu{
        
        position: relative;
        top:30px;
        left:40px;
        margin-top:40px ;
        text-align: justify;  
        

        
    }
    img{
        position: absolute;
        top:320px;
        left:-25px;

        width:150px;
        height: 150px;
    }
    #header{
        position:absolute;
        top:240px;
        left:-40px;

        font-size:10px;
    }
    #welcome{
        position: absolute;
        top:500px;
        left:10px;

        width:75%;
        height:30px;
        font-size:18px;

    }

    #welcomepara{

        position:relative;
        top:300px;
        left:-10px;

        word-spacing: 2px;

        text-align: justify;

    }

    #slider{

         position: absolute;
        top:230%;
        left:170px;   
        
        width:90%;
        height: 200px;
    
    
    }

    #title{

        width:40%;
        height:30px;
        padding:5px;
        font-size:20px;

        position:absolute;
        top:265%;
        left:100px;
    }

    iframe{
        width:96%;
        height:500px;

        position: relative;
        top:800px;
        left:10px;

        overflow:hidden;
        border:none;

        /* margin-right:10px; */

        
        
        
    }

    #tevent{
        position:absolute;
        top:360%;
        left:100px;

        width:110px;
        font-size:15px;
        padding:10px;

    }

    #event{
        position:absolute;
        top:373%;
        left:20px;

        width:80%;
        height:200px;

        
    }

    
    #footer
    {
    position: absolute;
    top:430%;

    width:73%;

    }  
    #links{
        /* position: relative;
        left:70px; */

        text-align: center;
    }
    #link_h2{
        
        text-align: center;
    }
   
    #contact{
        position: relative;
        top:20px;
        left:10px;

        
    }

    .anchortag{
        font-weight:100;
        word-spacing:5px;
    }
    #up{
        position: relative;
        top:10px;
        left:280px;

        width:20px;


    }

    #copy{
        position:relative;
        top:60px;
        left:-50px;
        width:140%;
        height: 60px;

        font-size:15px;


    }

    #rights{
        text-align:center;
        font-size:12px;
    }




}