@media screen and (max-width:600px)
{
    /* body{

        overflow-x:hidden;
        
    } */
    #nav{
        height: 300px;
        width:100%;

        /* order:revert; */
        display: block;

    

        
        
    }

  

    #menu{
        
        position: relative;
        top:30px;
        left:40px;
        margin-top:40px ;
        text-align: justify;

        
        

        
    }
    img{
        position: absolute;
        top:320px;
        left:-25px;

        width:150px;
        height: 150px;
    }
    #header{
        position:absolute;
        top:240px;
        left:-40px;

        font-size:10px;
    }
}